<form [formGroup]="mortgageForm" (ngSubmit)="onSubmit()" novalidate>
    <!-- Mortgage Amount -->
    <div class="mb-3">
        <label for="mortgageAmount" class="form-label">Mortgage Amount</label>
        <input id="mortgageAmount" type="number" class="form-control" formControlName="mortgageAmount" placeholder="£"
            [ngClass]="{'is-invalid': f['mortgageAmount'].invalid && isFormSubmitted}" />
    </div>

    <!-- Mortgage Term -->
    <div class="mb-3">
        <label for="mortgageTerm" class="form-label">
            Mortgage Term
        </label>
        <input id="mortgageTerm" type="number" class="form-control" formControlName="mortgageTerm" placeholder="années"
            [ngClass]="{'is-invalid': f['mortgageTerm'].invalid && isFormSubmitted}" />
    </div>

    <!-- Interest Rate -->
    <div class="mb-3">
        <label for="interestRate" class="form-label">Interest Rate</label>
        <input id="interestRate" type="number" class="form-control" formControlName="interestRate" placeholder="%"
            [ngClass]="{'is-invalid': f['interestRate'].invalid && isFormSubmitted}" />
    </div>

    
    <!-- Mortgage Type -->
    <div class="mb-3">
        <label class="form-label">Mortgage Type</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="repaymentRadio" formControlName="mortgageType"
                value="Repayment" [checked]="f['mortgageType'].value === 'Repayment'" />
            <label class="form-check-label" for="repaymentRadio">
                Repayment
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="interestOnlyRadio" formControlName="mortgageType"
                value="Interest Only" [checked]="f['mortgageType'].value === 'Interest Only'" />
            <label class="form-check-label" for="interestOnlyRadio">
                Interest Only
            </label>
        </div>
    </div>

    <!-- Submit -->
    <button type="submit" class="btn btn-primary">
        Calculate Repayments
    </button>
</form>