<div class="container">
    <div class="row d-flex align-items-center justify-content-center vh-100">

        <div class="col-12">

            <div id="mortgage-calculator-container">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">

                            <div id="form-container">
                                <h1 class="mb-5">Mortgage Calculator</h1>

                                <form [formGroup]="mortgageForm" (ngSubmit)="onSubmit()" novalidate>
                                    <div id="reset-button" (click)="onReset()">Clear all</div>

                                    <!-- Mortgage Amount -->
                                    <div class="mb-3">
                                        <label for="mortgageAmount" class="form-label">Mortgage Amount</label>

                                        <div class="input-group">
                                            <span class="input-group-text"
                                                [ngClass]="{'is-invalid': f['mortgageAmount'].invalid && isFormSubmitted}">£</span>
                                            <input id="mortgageAmount" type="number" class="form-control"
                                                formControlName="mortgageAmount"
                                                [ngClass]="{'is-invalid': f['mortgageAmount'].invalid && isFormSubmitted}" />

                                            @if(f['mortgageAmount'].invalid && isFormSubmitted) {
                                            <div class="invalid-feedback">
                                                @if(f['mortgageAmount'].errors?.['required']) {
                                                <span>
                                                    This field is required
                                                </span>
                                                }
                                            </div>
                                            }
                                        </div>
                                    </div>

                                    <!-- Mortgage Term -->
                                    <div class="mb-3">
                                        <label for="mortgageTerm" class="form-label">
                                            Mortgage Term
                                        </label>

                                        <div class="input-group">
                                            <input id="mortgageTerm" type="number" class="form-control"
                                                formControlName="mortgageTerm"
                                                [ngClass]="{'is-invalid': f['mortgageTerm'].invalid && isFormSubmitted}" />
                                            <span class="input-group-text"
                                                [ngClass]="{'is-invalid': f['mortgageTerm'].invalid && isFormSubmitted}">years</span>

                                            @if(f['mortgageTerm'].invalid && isFormSubmitted) {
                                            <div class="invalid-feedback">
                                                @if(f['mortgageTerm'].errors?.['required']) {
                                                <span>
                                                    This field is required
                                                </span>
                                                }
                                            </div>
                                            }
                                        </div>
                                    </div>

                                    <!-- Interest Rate -->
                                    <div class="mb-3">
                                        <label for="interestRate" class="form-label">Interest Rate</label>

                                        <div class="input-group">
                                            <input id="interestRate" type="number" class="form-control"
                                                formControlName="interestRate"
                                                [ngClass]="{'is-invalid': f['interestRate'].invalid && isFormSubmitted}" />
                                            <span class="input-group-text"
                                                [ngClass]="{'is-invalid': f['interestRate'].invalid && isFormSubmitted}">%</span>

                                            @if(f['interestRate'].invalid && isFormSubmitted) {
                                            <div class="invalid-feedback">
                                                @if(f['interestRate'].errors?.['required']) {
                                                <span>
                                                    This field is required
                                                </span>
                                                }
                                            </div>
                                            }
                                        </div>
                                    </div>


                                    <!-- Mortgage Type -->
                                    <div class="mb-3">
                                        <label class="form-label">Mortgage Type</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="repaymentRadio"
                                                formControlName="mortgageType" value="Repayment"
                                                [checked]="f['mortgageType'].value === 'Repayment'" />
                                            <label class="form-check-label" for="repaymentRadio">
                                                Repayment
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="interestOnlyRadio"
                                                formControlName="mortgageType" value="Interest Only"
                                                [checked]="f['mortgageType'].value === 'Interest Only'" />
                                            <label class="form-check-label" for="interestOnlyRadio">
                                                Interest Only
                                            </label>
                                        </div>
                                    </div>

                                    <!-- Submit -->
                                    <button id="submit-button" type="submit" class="btn">
                                        <img src="images/icon-calculator.svg" />
                                        <span>Calculate Repayments</span>
                                    </button>
                                </form>


                            </div>

                        </div>

                        <div id="results-container" class="col-md-6 col-sm-12">

                            <div id="results" class="d-flex align-items-center justify-content-center">
                                @if(monthlyRepayment !== null && totalRepayment !== null){

                                <div id="with-results">
                                    <h2>Your results</h2>
                                    <div class="mt-3 description">
                                        Your results are shown below based on the informations you provided. To adjust
                                        the results, edit the form and click "Calculate repayments" again
                                    </div>

                                    <div class="card mt-5">
                                        <div class="card-body">
                                            <div class="card-text">
                                                <div class="description">Your monthly repayments</div>
                                                <div id="monthy-repayment-value">£ {{ monthlyRepayment }}</div>
                                            </div>

                                            <div class="card-text">
                                                <div class="description">Total you'll repay over the term</div>
                                                <div id="total-repayment-value">£ {{ totalRepayment }}</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                }
                                @else {

                                <div id="without-results">
                                    <img src="/images/illustration-empty.svg" />
                                    <h2>
                                        Results shown here
                                    </h2>
                                    <div class="mt-3 description">
                                        Complete the form and click "Calculate repayments" to see what your monthly
                                        repayments would be
                                    </div>
                                </div>
                                }
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>